# 1.Display “My Name Is James” as “My**Name**Is**James” using output formatting of a print() function

In [1]:
print('My', 'Name', 'Is', 'Aayushi', sep='**')

My**Name**Is**Aayushi

# 2. WAP that prints all the numbers from 0 to 6 except 3

In [2]:
a=[0,1,2,3,4,5,6]
for i in a:
    if i==3:
       pass  
    else:
        print(i)

0
1
2
4
5
6

# 3. (a) Concatenate two list index wise

In [3]:
#method_1
list1 = ['I','Pursuing','i','MSC(DSA)']
list2 = [' am', ' MBA','n']
print(list1[0] + list2[0], list1[1]+list2[1], list1[2]+list2[2], list1[3], sep=' ')

I am Pursuing MBA in MSC(DSA)

In [4]:
#method_2
import itertools
list1 = ['I',' Pursuing','i','MSC(DSA)']
list2 = ['am', 'MBA','n']

for i,j in zip(list1,list2):
    print(i,j , end='')

I am Pursuing MBAi n

# (b) list one in original order and list2 in reverse order

In [5]:
list1 = ['I','Pursuing','i','MSC(DSA)']
list2 = ['am', 'MBA','n']
new_list=[]


for i in range(len(list1)):
    list2.reverse()
    new_list.append(list1[i])
for i in range(-1,len(list2)-1):
    new_list.append(list2[i])
    
print('new list: ', new_list)

new list:  ['I', 'Pursuing', 'i', 'MSC(DSA)', 'n', 'am', 'MBA']

# 4.(a) copy element 44 and 55 from the given tuple into a new tuple 
# Tuple1=(11,22,33,44,55,66,66)

In [6]:
tuple1=(11,22,33,44,55,66,66)
tuple2=tuple1[3:5]
print(tuple2)

(44, 55)

# 4. (b)count the no of occurence of item 66 form a above tuple

# 5. keys=['one','two','Three], values=[1,2,3]
# (a)from above two list convert into a dictionary

In [7]:

keys = ['One', 'Two', 'Three']
values = [1, 2, 3]
dict1=dict(zip(keys, values))
print(dict1)

{'One': 1, 'Two': 2, 'Three': 3}

# 5. (b) check if a value 2 exists in dictinary

In [8]:
if 2 in dict1.values():
    print('2 is in the dictionery')
else:
    print('2 is not in the dictionery')

2 is in the dictionery