# Ques-1 :- Display “My Name Is James” as “My ** Name ** Is ** James” using output formatting of a print() function

In [3]:
str= "My name is {}"
print(str.format("Neeraj"))

My name is Neeraj

# Ques-2 :- Write a Python program that prints all the numbers from 0 to 6 except 3 .

In [7]:
for i in range(7):             # For loop is iterating to print series
  if i == 3:
    continue                      
  print(i)

0
1
2
4
5
6

# Ques-3 :- Concatenate two lists index-wise

# Importing the library itertools

In [8]:
import itertools

In [10]:
list1 = ["I ","Pursuing","i","MSC(DSA)"]  
list2 = ["am", "MBA", "n"] #Here list1 and list2 are the given list and list are mutable and ordered....

for x, y in itertools.zip_longest(list1, list2 , fillvalue='.'):
    print(x,y)

I  am
Pursuing MBA
i n
MSC(DSA) .

# Ques-4 :- Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.

In [11]:
list1 = ["I ","Pursuing","i","MSC(DSA)"]  
list2 = ["am", "MBA", "n"]                 #Here list1 and list2 are the list and list are mutable and ordered...
new_list = []

for i in range(0 , len(list1) , 1):
  new_list.append(list1[i])

for i in range(-1 , -len(list2)-1 , -1):
  new_list.append(list2[i])

print("New Concatenated list :-",new_list)

New Concatenated list :- ['I ', 'Pursuing', 'i', 'MSC(DSA)', 'n', 'MBA', 'am']

# Ques-5 :- Copy element 44 and 55 from the above tuple into a new tuple .

In [12]:
tuple1 = (11, 22, 33, 44 , 55, 66,66)

#Here tuple1 is a variable taking tuple as variable and Tuple are immutable but ordered..

In [14]:
new_list = [x for x in tuple1 if ((x == 44) or (x == 55))]    
new_tuple = tuple(new_list)                                        
print("New tuple after copying element 44 and 55 :-",new_tuple)

New tuple after copying element 44 and 55 :- (44, 55)

# Ques-6 :- Counts the number of occurrences of item 66 from a given tuple.

In [17]:
given_tuple = (11, 22, 33, 44 , 55, 66,66)

In [19]:
print("count of 66 is : ", given_tuple.count(66))

count of 66 is :  2

# Ques-7 :- From given two lists convert it into the dictionary

In [40]:
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]

dics = {keys[i]:values[i] for i in range(3)}
print('the dictionary is :',dics)

the dictionary is : {'One': 1, 'Two': 2, 'Three': 3}

# Ques-8 :- Check if a value 2 exists in a dictionary.

In [41]:
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]

print('Does 2 exists in dics :',2 in dics.values())

Does 2 exists in dics : True