# Question 1:(a) Display "My Name Is James " as "My***Name***Is***James using Output Format print() Function

In [1]:

star="***"
name="my{0}name{0}is{0}james"
print(name.format(star))
#OR
print("My","Name","is","james",sep="*")

my***name***is***james
My*Name*is*james

# Question no 2:Write a program that print all the numbers from 0 to 6 except 3

In [2]:

print(" number from 0 to 6 except 3:")
for i in range(0,7):
    if i == 3:
        continue
    
    print(" ", i)

 number from 0 to 6 except 3:
  0
  1
  2
  4
  5
  6

# Question 3 (a): concatenate two list index wise

In [3]:
#Question 3 (a): concatenate two list index wise
list1=[" I","pursuing","i"," MSC(DSA)"]
list2=["am","MBA","n"]
new_list=[i+j for i,j in zip(list1,list2)]
print(new_list)

[' Iam', 'pursuingMBA', 'in']

# (b) list one in original order and list2 in reverse order

In [4]:
#(b) list one in original order and list2 in reverse order
for (i,j) in zip(list1,reversed(list2)):
    print(i,j)

 I n
pursuing MBA
i am

# Question 4: Tuple1=(11,22,33,44,55,66,66)
#(a) copy element 44 and 55 from the above tuple into a new tuple

In [5]:
#Question 4: Tuple1=(11,22,33,44,55,66,66)
#(a) copy element 44 and 55 from the above tuple into a new tuple
Tuple1=(11,22,33,44,55,66,66)
if 44 and 55 in Tuple1:
    New_Tuple=(44,55)
    print("New Tuple:",New_Tuple)

New Tuple: (44, 55)

# Question 4:(b)count the no of occurence of item  66 form a above tuple

In [6]:
#Question 4:(b)count the no of occurence of item  66 form a above tuple
Tuple1=(11,22,33,44,55,66,66)
x=Tuple1.count(66)
print("count:",x)

count: 2

#

# Question 5:keys=['one','two','Three], values=[1,2,3]
#(a)from above two list convert into a dictionary

In [7]:
#Question 5:keys=['one','two','Three], values=[1,2,3]
#(a)from above two list convert into a dictionary
keys=['one','two','Three'] 
values=[1,2,3]
res_dict={}
for key in keys:
      for value in values:
           res_dict[key]=value
           values.remove(value)
           break
print("resultant dictionary is:" +str(res_dict))

resultant dictionary is:{'one': 1, 'two': 2, 'Three': 3}

In [8]:
keys=['one','two','Three'] # notice that both list have same number of values otherwise zip funtion will fail
values=[1,2,3]

d=dict(zip(keys,values))
print(d)

{'one': 1, 'two': 2, 'Three': 3}

# (b)check if a value 2 exists in dictinary

In [9]:
#(b)check if a value 2 exists in dictinary
Dict=res_dict
values=Dict.values()
List=list(values)
if 2 in List:
    print("the value 2 is found")
else:
    print(" the value 2 is not found")

the value 2 is found

In [10]:
list1=[" I","pursuing","i"," MSC(DSA)"]
list2=["am","MBA","n"]
l=list(zip(list1,list2))
print(l)

[(' I', 'am'), ('pursuing', 'MBA'), ('i', 'n')]